body{
    min-height: 100vh;
    font-family: monospace,sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    background: linear-gradient(to left bottom,lightgreen,rgb(29, 188, 241));
    color: darkgreen;
}
.container{
    background: rgba(6, 192, 80, 0.799);
    min-width: 350px;
    max-width: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,3);
    padding: 1.5rem;
  }
  .heading{
    font-size: 2rem;
  }
  .temp-container{
     width:100%;
     padding: 1.1rem;
     font-weight: bold;
     font-size: 1.1rem;
  }
input{
    width: 220px;
    font-size: 18px;
    float: right;
    font-family: monospace;
    outline: none;
    color: darkgreen;
    padding: 5px;
    background: rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.6);
}
input::placeholder{
    color: black;
}



























